html {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

[class^="container"] {
    margin: 0 auto;
}

.container-bd {
    max-width: 100%;
}

.container-lg {
    max-width: 1160px;
}

.container-sm {
    max-width: 970px;
}

.row [class^="col"] {
    float: left;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.col.fr {
    float: right;
}

.col-4 {
    width: 33.33%;
}

.col-8 {
    width: 66.66%;
}

header {
    min-width: 670px;
}

li {
    display: inline-block;
    padding: 20px;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: black;
}

header li a {
    line-height: 25px;
}

.logo-small {
    display: block;
}

.button {
    background-color: #0061FF;
    border: 1px solid #0061FF;
    color: white;
    padding: 5px 15px;
}

/* Jumbo */

#jumbo {
    padding-top: 70px;
    min-width: 670px;
}

#jumbo .container-lg {
    padding: 0 15px 0;
}

#jumbo .main-title {
    font-size: 68px;
    font-weight: 700;
    padding-bottom: 50px;
}

.jumbo-description {
    margin-bottom: 30px;
}

.jumbo-cta {
    margin-bottom: 15px;
    font-size: 15px;
}

.jumbo-icon {
    margin-top: 25px;
    font-size: 40px;
}

#jumbo .col-4 {
    width: 34%;
}

.col-3-5 {
    width: 27%;
}

#jumbo .col-8 {
    width: 65%;
}

.col-8.fr {
    float: right;
}

.col-4 p:nth-child(3n) {
    font-size: 13px;
}

/* Plans */

.plans-title {
    font-size: 35px;
    margin: 80px 0 50px;
}

.card {
    border-left: 1px solid rgba(128, 128, 128, 0.4);
    border-right: 1px solid rgba(128, 128, 128, 0.4);
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.card-header {
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    text-align: center;
}

.card [class^="card"] {
    padding: 10px;
}

.card-body h1, .card-body h2, .card-body p {
    padding: 10px 0;
    font-size: 25px;
}

.card-body__section-one {
    margin-bottom: 15px;
}
.card-body__section-two div {
    font-size: 15px;
    padding: 10px 0;
}

.card-body__section-three div {
    text-align: center;
    margin-top: 25px;
}

.button-card {
    background-color: #0061FF;
    border: 1px solid #0061FF;
    color: white;
    padding: 5px 16px;
}

.card-body__section-three p{
    font-size: 15px;
    margin-top: 10px;
}

.buy-now {
    text-decoration: none;
    color: #0061FF;
}

hr {
    width: 18%;
    margin: 10px 25px;
    opacity: 0.7;
}

.card-body__section-four div {
    font-size: 15px;
    padding: 10px 0;
}

.card-body__section-four div i {
    color: #0061FF;
}
.card-body__section-four div:last-child {
    margin-bottom: 100px;
}

.card-body__section-four h4 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.col-3-5.card:nth-child(2n) {
    margin: 0 40px;
}

.col-3-5.card {
    width: 296px;
}

.card-body__section-one, .card-body__section-two, .card-body__section-three, .card-body__section-four {
    margin: 0 15px;
}

